![This is an image](Quant-Trading.jpg)

<font size="3">
Please visit our website <a href="https://www.quant-trading.co" target="_blank">quant-trading.co</a> for more tools on quantitative finance and data science.
</font>

# **CORRELATION**

## **¿How to calculate correlations from financial returns?**

<font size="3"> In statistics, correlation or dependence is any statistical relationship, whether causal or not, between two random variables or bivariate data. Although in the broadest sense, "correlation" may indicate any type of association, in statistics it usually refers to the degree to which a pair of variables are linearly related. Here we we learn how to calculate linear correlation between financial returns.
<br><br>

In [1]:
import warnings
warnings.filterwarnings('ignore')

import yfinance as yf  #Yahoo Finance
import datetime
import pandas as pd
import numpy as np

## **Get an specific ticker**

<font size="3"> Stocks have an specific identification code. Here we show how to download the prices history for what are known as the magnificent 7 stocks for an specific time frame. remember that we show how to download data from the yahoo finance api in the following link: <a href="https://quant-trading.co/how-to-download-data-from-yahoo-finance-api/" target="_blank">YAHOO FINANCE API</a>
<br><br>

In [2]:
#ASSET
tickers_list = ['AAPL', 'GOOG', 'AMZN', 'TSLA', 'NVDA', 'MSFT','META']

multiple_prices = yf.download(tickers_list,period='5y')['Adj Close']
multiple_prices

[*********************100%***********************]  7 of 7 completed

,AAPL,AMZN,GOOG,META,MSFT,NVDA,TSLA
Date,,,,,,,
2019-03-04,42.322659,84.808502,57.389999,167.192596,106.859421,38.930637,19.024000
2019-03-05,42.245628,84.621498,58.101501,171.078476,106.326370,38.866070,18.436001
2019-03-06,42.002556,83.447502,57.893002,172.327148,106.373978,37.756119,18.416000
2019-03-07,41.516380,81.297501,57.165001,168.950745,105.079399,37.063309,18.439333
2019-03-08,41.615067,81.040001,57.116001,169.420242,105.193619,37.405979,18.942667
...,...,...,...,...,...,...,...
2024-02-26,181.160004,174.729996,138.750000,481.739990,407.540009,790.919983,199.399994
2024-02-27,182.630005,173.539993,140.100006,487.049988,407.480011,787.010010,199.729996
2024-02-28,181.419998,173.160004,137.429993,484.019989,407.720001,776.630005,202.039993
2024-02-29,180.750000,176.759995,139.779999,490.130005,413.640015,791.119995,201.880005
2024-03-01,179.660004,178.220001,138.080002,502.299988,415.500000,822.789978,202.639999

<font size="3"> Now we can calculate the returns for the different tickers as shown below. We use a loop to do that:
<br><br>

In [3]:
for elem in tickers_list:    
    multiple_prices['Return '+ elem] = multiple_prices[elem]/multiple_prices[elem].shift(1) - 1
    multiple_prices['Return '+ elem].iloc[0] = 0
    
multiple_prices

,AAPL,AMZN,GOOG,META,MSFT,NVDA,TSLA,Return AAPL,Return GOOG,Return AMZN,Return TSLA,Return NVDA,Return MSFT,Return META
Date,,,,,,,,,,,,,,
2019-03-04,42.322659,84.808502,57.389999,167.192596,106.859421,38.930637,19.024000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2019-03-05,42.245628,84.621498,58.101501,171.078476,106.326370,38.866070,18.436001,-0.001820,0.012398,-0.002205,-0.030908,-0.001659,-0.004988,0.023242
2019-03-06,42.002556,83.447502,57.893002,172.327148,106.373978,37.756119,18.416000,-0.005754,-0.003589,-0.013873,-0.001085,-0.028558,0.000448,0.007299
2019-03-07,41.516380,81.297501,57.165001,168.950745,105.079399,37.063309,18.439333,-0.011575,-0.012575,-0.025765,0.001267,-0.018350,-0.012170,-0.019593
2019-03-08,41.615067,81.040001,57.116001,169.420242,105.193619,37.405979,18.942667,0.002377,-0.000857,-0.003167,0.027297,0.009246,0.001087,0.002779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-26,181.160004,174.729996,138.750000,481.739990,407.540009,790.919983,199.399994,-0.007451,-0.045013,-0.001486,0.038704,0.003489,-0.006824,-0.004731
2024-02-27,182.630005,173.539993,140.100006,487.049988,407.480011,787.010010,199.729996,0.008114,0.009730,-0.006811,0.001655,-0.004944,-0.000147,0.011023
2024-02-28,181.419998,173.160004,137.429993,484.019989,407.720001,776.630005,202.039993,-0.006625,-0.019058,-0.002190,0.011566,-0.013189,0.000589,-0.006221
2024-02-29,180.750000,176.759995,139.779999,490.130005,413.640015,791.119995,201.880005,-0.003693,0.017100,0.020790,-0.000792,0.018658,0.014520,0.012623
2024-03-01,179.660004,178.220001,138.080002,502.299988,415.500000,822.789978,202.639999,-0.006030,-0.012162,0.008260,0.003765,0.040032,0.004497,0.024830

## **Calculate the correlation between 2 stocks**

<font size="3"> To calculate the correlation between 2 stocks we can use the numpy function corrcoef as shown below:
<br><br>

In [4]:
np.corrcoef(multiple_prices['Return AAPL'],multiple_prices['Return GOOG'])

array([[1.        , 0.66947743],
       [0.66947743, 1.        ]])

## **Calculate the correlation matrix of the returns**

<font size="3"> Since we have 7 stocks in this DataFrame, we would need to calculate 6 + 5 + 4 + 3 + 2 + 1 = 21 pairs of correlations between all stocks. Instead, we can calculate a correlation matrix for that purpose. The first thing we need to do is to filter the DataFrame to just leave the returns of the stocks.
<br><br>

In [5]:
multiple_returns = multiple_prices[['Return AAPL','Return GOOG','Return AMZN','Return TSLA','Return NVDA','Return MSFT','Return META']]
multiple_returns

,Return AAPL,Return GOOG,Return AMZN,Return TSLA,Return NVDA,Return MSFT,Return META
Date,,,,,,,
2019-03-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2019-03-05,-0.001820,0.012398,-0.002205,-0.030908,-0.001659,-0.004988,0.023242
2019-03-06,-0.005754,-0.003589,-0.013873,-0.001085,-0.028558,0.000448,0.007299
2019-03-07,-0.011575,-0.012575,-0.025765,0.001267,-0.018350,-0.012170,-0.019593
2019-03-08,0.002377,-0.000857,-0.003167,0.027297,0.009246,0.001087,0.002779
...,...,...,...,...,...,...,...
2024-02-26,-0.007451,-0.045013,-0.001486,0.038704,0.003489,-0.006824,-0.004731
2024-02-27,0.008114,0.009730,-0.006811,0.001655,-0.004944,-0.000147,0.011023
2024-02-28,-0.006625,-0.019058,-0.002190,0.011566,-0.013189,0.000589,-0.006221
2024-02-29,-0.003693,0.017100,0.020790,-0.000792,0.018658,0.014520,0.012623
2024-03-01,-0.006030,-0.012162,0.008260,0.003765,0.040032,0.004497,0.024830

<font size="3"> After that, we applied the corr() function from the pandas library on the entire DataFrame to get the correlation matrix as shown below:
<br><br>

In [6]:
corr_matrix = multiple_returns.corr()
corr_matrix

,Return AAPL,Return GOOG,Return AMZN,Return TSLA,Return NVDA,Return MSFT,Return META
Return AAPL,1.000000,0.669477,0.614353,0.489546,0.654396,0.756419,0.576832
Return GOOG,0.669477,1.000000,0.655222,0.399855,0.617600,0.752338,0.652809
Return AMZN,0.614353,0.655222,1.000000,0.436376,0.604330,0.683860,0.617788
Return TSLA,0.489546,0.399855,0.436376,1.000000,0.500564,0.454904,0.347032
Return NVDA,0.654396,0.617600,0.604330,0.500564,1.000000,0.708999,0.547565
Return MSFT,0.756419,0.752338,0.683860,0.454904,0.708999,1.000000,0.619940
Return META,0.576832,0.652809,0.617788,0.347032,0.547565,0.619940,1.000000

## **How do you know which stock has the highest correlation with another?**

<font size="3"> You can sort the values for an specific column to get the highest to lowest correlation among stock pairs. For example, in this case we take the AAPL return with the other magnificent 7 stocks. We note that the highest correlation is with the MSFT stock at 75.6732%, while the lowest is with TSLA stock at 48.7754%
<br><br>

In [7]:
corr_matrix["Return AAPL"].sort_values(ascending=False)

Return AAPL    1.000000
Return MSFT    0.756419
Return GOOG    0.669477
Return NVDA    0.654396
Return AMZN    0.614353
Return META    0.576832
Return TSLA    0.489546
Name: Return AAPL, dtype: float64

## **Can we calculate correlation for different assets?**

<font size="3"> When we calculate correlations for a group of similar stocks, we usually get very high value for them. You say, that they have a very high correlation or that are highly correlated. In finance, when people talk about diversification, they usually like to have asset's with low (close to zero) or negative correlations. Let's explore the following ETFs and see their correlation. 
<br><br>
    
<font size="3"> They are:
<br><br>
    
<font size="3"> 
SPY -> S&P500 <br><br>
TLT -> Long Term Treasuries <br><br>
IAU -> Gold <br><br>
EMB -> Emerging Market Bonds <br><br>
USO -> Crude Oil <br><br>
EEM -> Emerging Market Stocks <br><br>
SHV -> Short Term Treasuries <br><br>

In [8]:
#ASSET
tickers_list2 = ['SPY', 'TLT', 'IAU', 'EMB', 'USO', 'EEM','SHV']

multiple_prices2 = yf.download(tickers_list2,period='5y')['Adj Close']


for elem in tickers_list2:    
    multiple_prices2['Return '+ elem] = multiple_prices2[elem]/multiple_prices2[elem].shift(1) - 1
    multiple_prices2['Return '+ elem].iloc[0] = 0
    
multiple_returns2 = multiple_prices2[['Return SPY','Return TLT','Return IAU','Return EMB','Return USO','Return EEM','Return SHV']]
multiple_returns2.corr()

[*********************100%***********************]  7 of 7 completed

,Return SPY,Return TLT,Return IAU,Return EMB,Return USO,Return EEM,Return SHV
Return SPY,1.000000,-0.184144,0.116093,0.617603,0.309243,0.773512,-0.062358
Return TLT,-0.184144,1.000000,0.313625,0.351465,-0.172706,-0.147740,0.234823
Return IAU,0.116093,0.313625,1.000000,0.311569,0.082118,0.197174,0.209612
Return EMB,0.617603,0.351465,0.311569,1.000000,0.288189,0.615811,0.086003
Return USO,0.309243,-0.172706,0.082118,0.288189,1.000000,0.308184,-0.154884
Return EEM,0.773512,-0.147740,0.197174,0.615811,0.308184,1.000000,-0.043872
Return SHV,-0.062358,0.234823,0.209612,0.086003,-0.154884,-0.043872,1.000000

## **Rolling correlation**

<font size="3"> Correlation does vary with time. Sometimes is good to track how it has evolved trough different periods. Below you can see how to calculate rolling correlation for a pair of asset's returns:
<br><br>

In [9]:
multiple_prices['Return AAPL'].rolling(window=180).corr(multiple_prices['Return GOOG'])

Date
2019-03-04         NaN
2019-03-05         NaN
2019-03-06         NaN
2019-03-07         NaN
2019-03-08         NaN
                ...
2024-02-26    0.481257
2024-02-27    0.485815
2024-02-28    0.487248
2024-02-29    0.482342
2024-03-01    0.483431
Length: 1259, dtype: float64

If this content is helpful and you want to make a donation please click on the button

[![paypal](https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=29CVY97MEQ9BY)