![This is an image](Quant-Trading.jpg)

<font size="3">
Please visit our website <a href="https://www.quant-trading.co" target="_blank">quant-trading.co</a> for more tools on quantitative finance and data science.
</font>

# **VOLATILITY**

## **¿How to calculate volatility from financial returns?**

<font size="3"> Volatility is one of the most used metric for financial analysis. Returns are the raw material for these calculations. How to calculate volatility from financial returns? In this notebook we will show a few easy steps to do that.Let's see
<br><br>

In [1]:
import warnings
warnings.filterwarnings('ignore')

import yfinance as yf  #Yahoo Finance
import datetime
import pandas as pd

## **Get an specific ticker**

<font size="3"> Stocks have an specific identification code. For example the NVDIA's stock identifier is NVDA. Here we show how to download the prices history for the stock for an specific time frame.
<br><br>

In [2]:
#ASSET
ticker = 'NVDA'
my_ticker = yf.Ticker(ticker)

start_date = datetime.datetime(1990, 12, 31)
end_date = datetime.datetime(2024, 2, 21)

prices_hist = my_ticker.history(start=start_date,end=end_date)

<font size="3"> We can have a visual inspection of the DataFrame.
<br><br>

In [3]:
prices_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-01-22,0.401338,0.447922,0.355949,0.376255,271468800.0,0.0,0.0
1999-01-25,0.406116,0.420450,0.376255,0.415672,51048000.0,0.0,0.0
1999-01-26,0.420450,0.428811,0.377449,0.383422,34320000.0,0.0,0.0
1999-01-27,0.384616,0.394172,0.363116,0.382228,24436800.0,0.0,0.0
1999-01-28,0.382227,0.384616,0.378643,0.381033,22752000.0,0.0,0.0
...,...,...,...,...,...,...,...
2024-02-13,704.000000,734.500000,696.200012,721.280029,60258000.0,0.0,0.0
2024-02-14,732.020020,742.359985,719.380005,739.000000,50491700.0,0.0,0.0
2024-02-15,738.690002,739.750000,724.000000,726.580017,42012200.0,0.0,0.0
2024-02-16,741.000000,744.020020,725.010010,726.130005,49391800.0,0.0,0.0
2024-02-20,719.469971,719.559998,677.340027,694.520020,70483300.0,0.0,0.0

## **Calculate the return for each date**

<font size="3"> To calculate the return for each date we divide the actual closing price by the previous closing price minus one. You can see the explanation of this procedure in the following link <a href="https://quant-trading.co/mean-and-median-return-calculations-using-python/" target="_blank">RETURNS</a>
<br><br>

In [4]:
prices_hist['Return'] = prices_hist['Close']/prices_hist['Close'].shift(1) - 1
prices_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Return
Date,,,,,,,,
1999-01-22,0.401338,0.447922,0.355949,0.376255,271468800.0,0.0,0.0,NaN
1999-01-25,0.406116,0.420450,0.376255,0.415672,51048000.0,0.0,0.0,0.104763
1999-01-26,0.420450,0.428811,0.377449,0.383422,34320000.0,0.0,0.0,-0.077586
1999-01-27,0.384616,0.394172,0.363116,0.382228,24436800.0,0.0,0.0,-0.003115
1999-01-28,0.382227,0.384616,0.378643,0.381033,22752000.0,0.0,0.0,-0.003125
...,...,...,...,...,...,...,...,...
2024-02-13,704.000000,734.500000,696.200012,721.280029,60258000.0,0.0,0.0,-0.001661
2024-02-14,732.020020,742.359985,719.380005,739.000000,50491700.0,0.0,0.0,0.024567
2024-02-15,738.690002,739.750000,724.000000,726.580017,42012200.0,0.0,0.0,-0.016806
2024-02-16,741.000000,744.020020,725.010010,726.130005,49391800.0,0.0,0.0,-0.000619
2024-02-20,719.469971,719.559998,677.340027,694.520020,70483300.0,0.0,0.0,-0.043532

## **Calculate the standard deviation of the returns**

<font size="3"> To calculate volatility one can simply get the series of the returns and then calculate the standard deviation of the series. As we explained before in our notebook <a href="https://quant-trading.co/mean-and-median-return-calculations-using-python/" target="_blank">MEAN AND MEDIAN RETURNS</a> one can apply functions such as mean() or median() on the entire DataFrame. We can also use one function to calculate the standard deviation. That function is std().
<br><br>
    
<font size="3"> In this case we scale the standard deviation by the square root of 252 to get an annualized standard deviation. Why 252? It is because that number is roughly the number of working days in a year. So, normally people say that annual volatility is the standard deviation of daily returns multiplied by the square root of 252. In this case, we get the number 60.1246% as you can see below:
<br><br>

In [5]:
volatility = prices_hist['Return'].std()*252**0.5
volatility

0.6012456288663159

## **What are the specific calculations for standard deviation?**

<font size="3"> While pandas allows us to calculate standard deviation by simply applying the function std(), it might be good to know what the program is doing behind the scenes. It is very simple. First you calculate the diference between the actual return and the mean return. You do that for the whole DataFrame. Then you square that numbers and sum them up. We can call this quantity the sum of squares. After that you divide the sum of squares by the number of returns minus 1. Finally you take the square root of that quantity. Don't forget to multiply it by the square root of 252 to get an annualized volatility. Look for these steps below:
<br><br>

In [6]:
sum_squares = (((prices_hist['Return']-prices_hist['Return'].mean())**2).sum())

volatility2 = (sum_squares/ (prices_hist['Return'].count()-1))**0.5*252**0.5
volatility2

0.6012456288663155

## **Rolling standard deviation**

<font size="3"> One good thing about pandas is that you can get the rolling standard deviation by simply using the rolling function. You can easily adjust the parameter window, to define the number of periods you would like to use. In this case we are using a 21 period which is roughly one trading month. The results are shown below:
<br><br>

In [7]:
prices_hist['Volatility'] = prices_hist['Return'].rolling(window=21).std()*252**0.5
prices_hist.tail(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Return,Volatility
Date,,,,,,,,,
2024-02-06,696.299988,697.539978,663.000000,682.229980,68311100.0,0.0,0.0,-0.015996,0.355484
2024-02-07,683.190002,702.200012,676.000000,700.989990,49557500.0,0.0,0.0,0.027498,0.312847
2024-02-08,700.739990,707.940002,694.549988,696.409973,41442200.0,0.0,0.0,-0.006534,0.320786
2024-02-09,705.330017,721.849976,702.119995,721.330017,43663700.0,0.0,0.0,0.035784,0.328770
2024-02-12,726.000000,746.109985,712.500000,722.479980,61371000.0,0.0,0.0,0.001594,0.331062
2024-02-13,704.000000,734.500000,696.200012,721.280029,60258000.0,0.0,0.0,-0.001661,0.330840
2024-02-14,732.020020,742.359985,719.380005,739.000000,50491700.0,0.0,0.0,0.024567,0.327569
2024-02-15,738.690002,739.750000,724.000000,726.580017,42012200.0,0.0,0.0,-0.016806,0.337639
2024-02-16,741.000000,744.020020,725.010010,726.130005,49391800.0,0.0,0.0,-0.000619,0.339871
2024-02-20,719.469971,719.559998,677.340027,694.520020,70483300.0,0.0,0.0,-0.043532,0.371824

If this content is helpful and you want to make a donation please click on the button

[![paypal](https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=29CVY97MEQ9BY)